.topic-list {

  .topic-list-item {
    .main-link {
      border-radius: var(--border-radius);
      padding: 10px;
    }
  }
  
  .topic-list-data {
    display: flex; 
  }
  
  .topic-title {
    font-size: 1.2rem;
  }
  
}
